h2.student-name {
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

.student-ali {
    border: 3px solid maroon;
    padding: 10px;
    margin: 25px;
}
.student {
    padding: 20px;
    margin: 15px;
}
.student.active {
    border: 3px solid brown;
    color: green;
}

.student p {
    font-style: oblique;
    color: blue;
}

.student.special {
    border: 3px solid green;
}

.student.active.special {
    border: 5px solid red;
    color: red;
    font-size: 20px;
}

.student.active.special h2 {
    color: red;
}
