h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: firebrick;
    text-align: center;
}

.parent-box h2{
    position: relative;
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    top: 5px;
    left: 30px;
}

.parent-box {
    position: relative;
    border: 3px solid purple;
    padding: 30px;
    height: 250px;
    
}
.child-box {
    position: absolute;
    color: green;
    right: 20px;
    top: 20px;
    border: 2px solid green;
    padding: 10px;
}

.button {
    position: fixed;
    bottom: 55px;
    right: 25px;
    background-color: orange;
}