.dashboard {
    max-width: 1250px;
    margin: auto;
    background-color: aqua;
    padding: 15px;
    box-shadow: 10px 10px gray;
}

header {
    background-color: darkblue;
    color: white;
    padding: 10px;
    font-size: x-large;
    text-align: center;
}

.info-box {
    background-color: lime;
    padding: 10px;
    margin: 15px;
    border-radius: 25px;
    color: firebrick;
}

.info-box p {
    color: blue;
    font-size: 15px;
}

.skill-card {
    display: inline-block;
    margin-left: 200px;
    width: 100px;
    height: 100px;
    border: 5px solid darkblue;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
    color: darkgreen;
    
}

.css-card  {
    color: blue;
}

.python-card {
    color: orange;
}

.goal {
    background-color: white;
    margin-top: 10px;
    padding: 5px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    color: purple;
}

.goal-box p {
    color: purple;
    border: 2px solid purple;
    padding: 15px;
    font-size: 20px;
}

.chat-button {
    position: fixed;
    bottom: 5px;
    right: 50px;
    border-radius: 50%;
    
}

@media (max-width: 600px){
    .skill-card{
        width: 100px;
        height: 100px;
        font-size: small;
        margin-left: 100px;
    }
}
